<p></p>
<p>Nombre   del Empleado:{{nombre.value}}</p>
<p>Apellido del Empleado:{{apellido.value}}</p>
<p>Edad     del Empleado:{{edad.value}}</p>
<p>Empresa  del Empleado:{{empresa.value}}</p>



Introduce Empresa: <input type="text" #empresa><input type="button" value="Enviar" (click)="llamarEmpresa(empresa.value)"/>
<br/>
<br/>
Digite Nombre: <input type="text" #nombre><input type="button" value="Enviar" (click)="llamarNombre(nombre.value)"/><br/>
<br/>
<br/>
Digite Apellido: <input type="text" #apellido><input type="button" value="Enviar" (click)="llamarApellido(apellido.value)"/><br/>
<br/>
<br/>
Digite la Edad: <input type="number" #edad><input type="button" value="Enviar"(click)="llamarEdad(edad.value)">